body {
    width: 100%;
    font-family: 'Anton', sans-serif;
    color: #8c869e;
}

#portfolio, #about, #contact {
    overflow: auto;
}

h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 3em;
    text-align: center;
    margin-top: 1.5em;
}

p {
    font-family: 'Cabin', sans-serif;
    font-size: 1.5em;
    line-height: 1.8em;
}


/***** GRID *****/

.full-width {
    width: 100%;
    margin: 0;
}

.third-width {
    float: left;
    width: 28%;
    margin-left: 1%;
    padding: 1%;
}

#about .half-width {
    float: left;
    width: 46%;
}

#contact .half-width {
    float: left;
    width: 34%;
}


/*****  HEADER *****/

header {
    height: 795px;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 6em;
}

 header p {
   font-family: 'Anton', sans-serif;
   font-size: 2em;
}

 .credit-badge{
   font-family: 'Cabin', sans-serif;
   font-size: 1em;
   position: absolute;
   top: 95%;
   color:  #c1bdb3;
 }

.hero-image {
    background-image: url(../img/desert.png);
    height: 795px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e6e6e6;
}

nav {
    background: #8c869e;
    font-size: 1em;
    float: right;
    position: fixed;
    top: 0px;
    right: 0px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
    color: #e6e6e6;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 20px;
}


/***** PORTFOLIO *****/
#portfolio {
  padding-bottom: 30px;
}

#portfolio .photo {
    border: 2px solid  #8c869e;
}

h3 {
    font-size: 2em;
    text-decoration: none;
}

a {
    color: inherit;
}


/***** ABOUT *****/

#about .full-width {
    background:  #19535f;
    color:  #e6e6e6;
    overflow: auto;
    padding-bottom: 30px;
}

#about h2 {
    clear: both;
}

#about img#contact-img {
    border-radius: 50%;
    margin-left: 15%;
}

#about p {
  margin-right: 2%
}


/***** CONTACT *****/

#contact {
    background: #8c869e;
    color: #e6e6e6;
    overflow: auto;
}

#contact .half-width.left {
  margin-left: 12%
}

#contact .half-width.right {
  margin-right: 2%;
}

#contact .fa-envelope, #contact .fa-phone {
    color:   #19535f;
    word-spacing: .3em;
    font-size: 30px;
}

#contact p {
    font-size: 2em;
}

#contact span{
    font-family: "Anton", sans-serif;
}

#contact h4 {
  font-family: "Cabin", sans-serif;
    font-size: 2em;
    text-align: center;
}

#contact ul {
    text-align: center;
}

#contact ul li {
  display: inline-block;
}

#contact ul li a {
    text-decoration: none;
}

#contact .fa-github, .fa-facebook-f, .fa-envelope-square {
    color:   #19535f;
    margin: 10px 10px 10px 0;
    padding: 28px;
    font-size: 50px;
}


/***** FOOTER ******/
footer {
    clear: both;
    background: #8c869e;
    color:#e6e6e6;
    text-align: center;
    margin: 0;
    padding: 5px;
}
